<div class="container">

    <div class="jumbotron">
        <h1>Burger Time</h1>
        <p>Choose your burger</p>
        <br>
        <h2>Select a Burger</h2>
        <panel>
            <form class="create-form">
                <div class="form-group">
                    <label for="newburger">Choose a burger</label>
                    {{!-- <input type="text" id="newburger" name="burger"> --}}
                    <select data-placeholder="" id="newburger" name="burger">
                        <option value="Nothing Selected" selected>Please Select a Burger</option>
                        <option value="Hamburger">Hamburger</option>
                        <option value="CheeseBurger">CheeseBurger</option>
                        <option value="BaconBurger">Bacon Burger</option>
                        <option value="VeggieBurger">Veggie Burger</option>
                        <option value="BlackBeanBurger">Black Bean Burger</option>
                        <option value="ImpossibleBurger">Impossible Burger</option>
                        <option value="GuacamoleBurger">Guacamole Burger</option>
						<option value="DoubleStackBurger">Double Stack Burger</option>
						<option value="PizzaBurger">Pizza Burger</option>
						<option value="SalmonBurger">Salmon Burger</option>
						<option value="CharbroiledBurger">Charbroiled Burger</option>
						<option value="WhopperStyleBurger">Whopper Style Burger</option>
						<option value="BigMacStlyeBurger">Big Mac Style Burger</option>
						<option value="AnimalStyleBurger">Animal Style Burger</option>
                    </select>

                    <button type="submit" class="btn btn-success" id="addburger">
                        <span class="fa fa-thumbs-up"></span>
                    </button>
                </div>
            </form>
        </panel>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="leftside"><strong>Order Your Burger</strong>
                    <p>Send Order</p>
                </div>
                <div class="panel-body">

                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}

                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-usd"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="rightside"><strong>Burger Up</strong>
                    <p>Devour it</p>
                </div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}}</strong></span>
                        <button type="button" class="trashburger btn btn-danger" id="trashbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>



                </div>
            </div>
        </div>

    </div>
    <!--endrow -->
</div>
<!--endcontainer -->